.search {
    border: 1px solid var(--light);
    border-radius: 20px;
    width: 100px;
    height:50%;
    outline: none;
    padding: 10px;
    margin: 15px;
    transition: all ease-in-out 0.2s;
  }
  .search:focus {
    width: 200px;
    border: 1px solid var(--dark);
    transition: all ease-in-out 0.2s;
  }