button:hover {
    transition: transform ease-in-out 0.2s;
    transform: scale(1.2);
    box-shadow: 2px 2px 2px gray;
  }
  .sticky {
    margin: 20px 0px;
    position: sticky;
    top: 0;
  }
  button {
    margin: 5px;
    border: none;
    background-color: rgb(211, 211, 235);
    border-radius: 5px;
  }