:root {
  --light: #bebebe;
  --lighter: #dddddd;
  --lightest: #fff;
  --dark: #707070;
  --darker: #413c3c;
  --darkest: #000;
  --ff-para: "PT Sans", sans-serif;
  --ff-heder: "PT Serif", serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--ff-para);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}